.services-main{
    margin-bottom: 10rem;
}

.ser-title{
    text-align: center;
}

.services-name{
    margin-right: 20px;
    color: white;
}

.services-body{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    margin-left: 15rem;
    margin-right: 15rem;
}
.one{
    background: black;
    box-shadow: 0 1.6rem 2.4remrgba(0,0,0,.25);
    border-radius: 0.8rem;
    width: 18.7rem;
    min-height: 18rem;
    max-width: 100%;
    padding: 1.5rem 3.3rem 0.5rem 3.5rem;
    position: relative;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    color: white;
}

.one:hover{
    background-color: #0fb;
    cursor: pointer;
    color: black;
}
.menu-icon{
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.3rem;
    border-radius: 50%;
    background: rgba(136,56,180,.2);
}

.menu-title{
    margin-bottom: 1rem;
}

.menu-desc{
    margin-bottom: 1rem;
}
.bottem-line{
    content: "";
    position: absolute;
    width: 100%;
    height: 0.8rem;
    bottom: 0;
    left: 0;
    border-radius: 0 0 0.8rem 0.8rem;
    background: #00aeff
}
.menu-iconn{
    background:rgba(136,56,180,.2);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.3rem;
    border-radius: 50%;
}
.bottem-linee{
    background: #e31f71;
    content: "";
    position: absolute;
    width: 100%;
    height: 0.8rem;
    bottom: 0;
    left: 0;
    border-radius: 0 0 0.8rem 0.8rem;
}
.menu-icono{
    background: rgba(136,56,180,.2);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.3rem;
    border-radius: 50%;
}
.bottem-linen{
    background: #8838b4;
    content: "";
    position: absolute;
    width: 100%;
    height: 0.8rem;
    bottom: 0;
    left: 0;
    border-radius: 0 0 0.8rem 0.8rem;
}

@media screen and (max-width: 375px){
    .services-body{
        flex-direction: column;
        align-items: center;
        margin-left: 42px;
        width: 15rem;
        justify-content: center;
    }
}

@media screen and (min-width: 376px) and (max-width: 400px){
    .services-body{
        flex-direction: column;
        align-items: center;
        margin-left: 42px;
        width: 16rem;
        justify-content: center;
    }
}
@media screen and (min-width: 401px) and (max-width: 600px){
    .services-body{
        flex-direction: column;
        align-items: center;
        margin-left: 0rem;
        width: 100%;
        justify-content: center;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px){
    .services-body{
        flex-direction: column;
        align-items: center;
        margin-left: 0rem;
        width: 100%;
        justify-content: center;
    }
}

@media screen and (min-width: 801px) and (max-width: 900px){
    .services-body{
        flex-direction: column;
        align-items: center;
        margin-left: 0rem;
        width: 100%;
        grid-template-columns: 2fr;
        justify-content: center;
    }
}

@media screen and (min-width: 901px){
    .services-body{
        display: flex;
        align-items: center;
        margin-left: 0rem;
        width: 100%;
        grid-template-columns: 2fr;
        justify-content: center;
    }
}