.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 15rem;
    width: 90%;
    /* margin-right: 10rem;
    margin-left: 20rem; */
}

.avin-image{
    width: 450px;
    height: 500px;
    filter: drop-shadow(0 1.6rem 1.6rem rgba(51,51,51,.25));
}

.about-text{
    max-width: 35.5rem;
    overflow: hidden;
    margin-left: 2rem;
    margin-top: 2rem;
}
.about-header{
    margin-top: 0.3rem;
    margin-bottom: 3.2rem;
    display: block;
}

.text{
    font-family: SF Pro Display,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.9rem;
    color: #0fb;
    margin-right: 7px;
}

.aboutme{
    color: white;
}

.text-right{
    color: white;
}
.line{
    display: inline-block;
    width: 5rem;
    height: 0.1rem;
    margin-bottom: 0.2rem;
    background: #0fb;
}

.button-cv button{
    margin-top: 3rem;
}

@media screen and (max-width: 375px){
    .avin-image{
        width: 300px;
        height: 300px;
        margin-top: 25rem;
    }
}

@media screen and (min-width: 376px) and (max-width: 400px){
    .avin-image{
        width: 350px;
        height: 350px;
        margin-top: 25rem;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px){
    .avin-image{
        width: 410px;
        height: 410px;
        margin-top: 25rem;
    }
}