.n-wrapper {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    top: 0;
    color: white;
    background: rgba(33,33,33,.7);
    position: fixed;
    z-index: 50;
    width: 100%;
    left: 0;
  }
  /* .n-wrapper2 {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    top: 0;
    color: white;
    background-color: #212529;
    position: fixed;
    z-index: 50;
    width: 100%;
    
  } */
  .n-left {
    flex: 1;
    align-items: center;
    justify-content: left;
    display: flex;
    margin-top: 0rem;
    gap: 2rem;
    margin-left: 5rem;
  }
  /* .icon{
    height: 100px;
    width: 100px;
  } */
  
  .n-name {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .n-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 01rem;
    font-family: Red Hat Display,sans-serif;
  }
  
  .n-list {
    margin-right: 5rem;
  }
  .n-list > ul {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    margin-right: 4rem;
  }
  
  .n-list > ul :hover {
    color: var(--orange);
    cursor: pointer;
  }
  
  .n-button {
    flex: 2;
  }

  .hamburger-menu {
    display: none;
  }
  
  @media screen and (max-width: 650px) {
    .n-list {
      display: none;
    }
  }


  /* @media (max-width: 650px) {
    .n-wrapper {
      height: 7rem;
      grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }
  
    .n-list{
      display: none;
    }

    .mobile-menu-link {
      grid-column: 2/4;
      position: relative;
      z-index: 99;
    }
  
    .mobile-menu-link {
      background-color: aqua;
      height: 20rem;
      display: grid;
      grid-column: 2/5;
      align-items: center;
      padding-left: 3rem;
      transition: all 2s linear;
      transform-origin: top;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
  
    .mobile-menu-link ul {
      height: 20rem;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: start;
    }
  
    .mobile-menu-link ul li:first-child {
      transition-delay: 0.2s;
    }

    .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  } */