.Intro {
    display: flex;
    height: 77vh;
    margin-top: 15rem;
    margin-left: 5rem;
  }
  
  /* left side styling */
  .i-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
  }
  .i-name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: white;
  }
  .i-name > :nth-child(1) {
    color: white;
    font-weight: bold;
    font-size: 3rem;
  }
  .i-name > :nth-child(2) {
    color: #0fb;
    font-weight: bold;
    font-size: 3rem;
  }
  .i-name > :nth-child(3) {
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-top: 10px;
  }
  .i-button {
    width: 8rem;
    height: 3rem;
    font-size: 15px;
  }
  .i-icons {
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
  }
  .i-icons > * {
    transform: scale(0.5);
  }
  .i-icons > *:hover {
    cursor: pointer;
  }
  /* right side styling */
  .i-right {
    flex: 1;
    position: relative;
    margin-top: 1rem;
  }
  .i-right > * {
    position: absolute;
    z-index: 1;
  }
  .i-right > :nth-child(1) {
    transform: scale(0.69);
    left: -15%;
    top: -9%;
  }
  .i-right > :nth-child(2) {
    top: -4.6rem;
    transform: scale(0.67);
    left: -3rem;
  }
  .i-right > :nth-child(3) {
    transform: scale(1.4);
    left: 28%;
    
  }
  .i-right > :nth-child(4) {
    transform: scale(0.62);
    top: -19%;
    left: -24%;
    border-radius: 60%;
    padding: 0;
  }

  .i-right .avinm{
    height: 500px;
    width: 600px;
    border-radius: 100%;
    left: 12%;
    top: -20%;
  }
  
  /* blur */
  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
  }
  @media screen and (max-width: 480px) {
    .Intro {
      flex-direction: column;
      gap: 7rem;
      height: 64rem;
      align-items: center;
      margin-left: 42px;
      width: 15rem;
      justify-content: center;
    }
    .i-button{
      margin-top: 6.5rem;
    }
    .i-right {
      transform: scale(0.8);
      left: -3rem;
      margin-top: 8rem;
    }
    .i-right .blur {
      display: none;
    }
    .floating-div:nth-of-type(1){
      /* display: none; */
      top: -7rem !important;;
    }
    .i-right .avinm{
      height: 500px;
      width: 500px;
      border-radius: 100%;
      left: -50%;
      margin-left: -12rem;
      top: -100%;
    }
}


 

 