.footer {
    display: flex;
    height: 8rem;
    align-items: center;
    position: relative;
    background-color: black;
    padding-right: 0rem;
    left: 0;
  }
  .f-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    gap: 4rem;
    color: white;
  }
  .f-icons {
    display: flex;
    gap: 2rem;
    margin-top: -2.8rem;
  }
  
  @media screen and (max-width: 480px){
    .f-content{
      transform: scale(.5);
    }
    .f-icons {
      gap: 2rem;
    }
    .footer{
      padding:0;
    }
  }